In [1]:
import pyspark
from pyspark.sql import SparkSession
import os
import pandas as pd

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 10:49:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Downloading FHVHV Data

In [3]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-06 10:17:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T101710Z&X-Amz-Expires=300&X-Amz-Signature=3beec242d578169485141e0f4fb33d730d5e73ac163b47e4931eebd8203dad76&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-06 10:17:10--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T101710Z&X-Amz-Expires=300&X-Amz-Signature=3beec242d578169485141e0f4fb33d730d5e73ac163b47e4931eebd8203dad76&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  71.3MB/s    in 2.4s

2023-03-06 10:17:13 (71.3 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

### Downloading the Zone Lookup Data

In [9]:
! wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-03-06 10:23:35--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T102335Z&X-Amz-Expires=300&X-Amz-Signature=2a17b2c5a01454ff17e970ddd630f29e68defc8909205ac2c6026443d111f7aa&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-06 10:23:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T102335Z&X-Amz-Expires=300&X-Amz-Signature=2a17b2c5a01454ff17e970ddd630f29e68defc8909205ac2c6026443d111f7aa&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2023-03-06 10:23:36 (18.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [3]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [4]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [12]:
spark.createDataFrame(df_p).schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

In [5]:
from pyspark.sql import types

In [6]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [7]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-06.csv.gz')

df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [8]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [9]:
df = df.repartition(12)

In [11]:
df.write.parquet('homework/2021/06/', mode='overwrite')

In [12]:
df3 = spark.read.parquet('homework/2021/06/')

In [13]:
df3.count()

14961892

In [14]:
df3.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropoff_datetime',
 'PULocationID',
 'DOLocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [31]:
from pyspark.sql.functions import to_date, unix_timestamp, from_unixtime
from pyspark.sql.types import DateType

In [34]:
df4 = df3.withColumn('pickup_date', to_date(df3['pickup_datetime']).cast(DateType()))
df4 = df4.withColumn("pickup_timestamp", unix_timestamp(df3["pickup_datetime"]))
df4 = df4.withColumn("dropoff_timestamp", unix_timestamp(df3["dropoff_datetime"]))
df4 = df4.withColumn("duration_seconds", df4["dropoff_timestamp"] - df4["pickup_timestamp"])
df4 = df4.withColumn("trip_duration", from_unixtime(df4["duration_seconds"], format="HH:mm:ss"))
df4.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+----------------+-----------------+----------------+-------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_date|pickup_timestamp|dropoff_timestamp|duration_seconds|trip_duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+----------------+-----------------+----------------+-------------+
|              B02889|2021-06-04 20:51:44|2021-06-04 21:10:12|         239|         158|      N|                B02889| 2021-06-04|      1622839904|       1622841012|            1108|     00:18:28|
|              B02800|2021-06-04 15:50:15|2021-06-04 16:19:29|          75|         116|      N|                  null| 2021-06-04|      1622821815|       1622823569|            1754|     00:29:14|
|              B02510|2021-06-02 21:03:38|2021-06-02 21:10:12|         167|         168|      N|                  null| 2021-06-02|      1622667818|       1622668212|             394|     00:06:34|
|              B02867|2021-06-02 12:51:57|2021-06-02 13:05:09|         151|         142|      N|                B02867| 2021-06-02|      1622638317|       1622639109|             792|     00:13:12|
|              B02869|2021-06-21 09:51:45|2021-06-21 10:09:17|         106|          65|      N|                B02869| 2021-06-21|      1624269105|       1624270157|            1052|     00:17:32|
|              B02764|2021-06-02 13:27:03|2021-06-02 13:38:20|         113|         148|      N|                B02764| 2021-06-02|      1622640423|       1622641100|             677|     00:11:17|
|              B02764|2021-06-10 14:48:23|2021-06-10 16:06:10|         250|         239|      N|                B02764| 2021-06-10|      1623336503|       1623341170|            4667|     01:17:47|
|              B02510|2021-06-09 22:38:49|2021-06-09 23:11:58|         132|          33|      N|                  null| 2021-06-09|      1623278329|       1623280318|            1989|     00:33:09|
|              B02510|2021-06-26 06:50:43|2021-06-26 07:00:20|         238|         244|      N|                  null| 2021-06-26|      1624690243|       1624690820|             577|     00:09:37|
|              B02872|2021-06-07 08:04:00|2021-06-07 08:40:25|         198|         234|      N|                B02872| 2021-06-07|      1623053040|       1623055225|            2185|     00:36:25|
|              B02765|2021-06-24 20:19:42|2021-06-24 20:38:22|         147|          42|      N|                B02765| 2021-06-24|      1624565982|       1624567102|            1120|     00:18:40|
|              B02884|2021-06-05 17:38:24|2021-06-05 18:05:30|         142|         232|      N|                B02884| 2021-06-05|      1622914704|       1622916330|            1626|     00:27:06|
|              B02765|2021-06-13 15:44:27|2021-06-13 16:04:38|          26|         165|      N|                B02765| 2021-06-13|      1623599067|       1623600278|            1211|     00:20:11|
|              B02510|2021-06-26 18:37:10|2021-06-26 18:56:01|         237|         145|      N|                  null| 2021-06-26|      1624732630|       1624733761|            1131|     00:18:51|
|              B02764|2021-06-23 14:44:10|2021-06-23 14:58:06|          45|          33|      N|                B02764| 2021-06-23|      1624459450|       1624460286|             836|     00:13:56|
|              B02510|2021-06-20 02:11:32|2021-06-20 02:22:00|          49|          37|      N|                  null| 2021-06-20|      1624155092|       1624155720|             628|     00:10:28|
|              B02764|2021-06-29 19:02:50|2021-06-29 19:05:25|         140|         140|      N|                B02764| 2021-06-29|      1624993370|       1624993525|             155|     00:02:35|
|              B02875|2021-06-02 15:27:05|2021-06-02 15:37:27|          32|         185|      N|                B02875| 2021-06-02|      1622647625|       1622648247|             622|     00:10:22|
|              B02882|2021-06-18 12:48:43|2021-06-18 12:58:22|          95|         134|      N|                B02882| 2021-06-18|      1624020523|       1624021102|             579|     00:09:39|
|              B02510|2021-06-23 08:59:54|2021-06-23 09:44:49|         171|         140|      N|                  null| 2021-06-23|      1624438794|       1624441489|            2695|     00:44:55|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+----------------+-----------------+----------------+-------------+
only showing top 20 rows

In [47]:
df4.select('pickup_datetime','pickup_timestamp', 'dropoff_datetime','dropoff_timestamp', 'trip_duration').show()

+-------------------+----------------+-------------------+-----------------+-------------+
|    pickup_datetime|pickup_timestamp|   dropoff_datetime|dropoff_timestamp|trip_duration|
+-------------------+----------------+-------------------+-----------------+-------------+
|2021-06-04 20:51:44|      1622839904|2021-06-04 21:10:12|       1622841012|     00:18:28|
|2021-06-04 15:50:15|      1622821815|2021-06-04 16:19:29|       1622823569|     00:29:14|
|2021-06-02 21:03:38|      1622667818|2021-06-02 21:10:12|       1622668212|     00:06:34|
|2021-06-02 12:51:57|      1622638317|2021-06-02 13:05:09|       1622639109|     00:13:12|
|2021-06-21 09:51:45|      1624269105|2021-06-21 10:09:17|       1624270157|     00:17:32|
|2021-06-02 13:27:03|      1622640423|2021-06-02 13:38:20|       1622641100|     00:11:17|
|2021-06-10 14:48:23|      1623336503|2021-06-10 16:06:10|       1623341170|     01:17:47|
|2021-06-09 22:38:49|      1623278329|2021-06-09 23:11:58|       1623280318|     00:33:09|
|2021-06-26 06:50:43|      1624690243|2021-06-26 07:00:20|       1624690820|     00:09:37|
|2021-06-07 08:04:00|      1623053040|2021-06-07 08:40:25|       1623055225|     00:36:25|
|2021-06-24 20:19:42|      1624565982|2021-06-24 20:38:22|       1624567102|     00:18:40|
|2021-06-05 17:38:24|      1622914704|2021-06-05 18:05:30|       1622916330|     00:27:06|
|2021-06-13 15:44:27|      1623599067|2021-06-13 16:04:38|       1623600278|     00:20:11|
|2021-06-26 18:37:10|      1624732630|2021-06-26 18:56:01|       1624733761|     00:18:51|
|2021-06-23 14:44:10|      1624459450|2021-06-23 14:58:06|       1624460286|     00:13:56|
|2021-06-20 02:11:32|      1624155092|2021-06-20 02:22:00|       1624155720|     00:10:28|
|2021-06-29 19:02:50|      1624993370|2021-06-29 19:05:25|       1624993525|     00:02:35|
|2021-06-02 15:27:05|      1622647625|2021-06-02 15:37:27|       1622648247|     00:10:22|
|2021-06-18 12:48:43|      1624020523|2021-06-18 12:58:22|       1624021102|     00:09:39|
|2021-06-23 08:59:54|      1624438794|2021-06-23 09:44:49|       1624441489|     00:44:55|
+-------------------+----------------+-------------------+-----------------+-------------+
only showing top 20 rows

In [38]:
df4.select('pickup_date').filter(df4.pickup_date == '2021-06-15').count()

452470

In [40]:
df4.registerTempTable('trips_data')

/home/ubuntu/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [57]:
spark.sql("""
SELECT duration_seconds, trip_duration
FROM trips_data
ORDER BY duration_seconds desc
""").show()

+----------------+-------------+
|duration_seconds|trip_duration|
+----------------+-------------+
|          240764|     18:52:44|
|           91979|     01:32:59|
|           71931|     19:58:51|
|           65510|     18:11:50|
|           59281|     16:28:01|
|           51368|     14:16:08|
|           50075|     13:54:35|
|           42012|     11:40:12|
|           40917|     11:21:57|
|           39544|     10:59:04|
|           36963|     10:16:03|
|           35879|     09:57:59|
|           35879|     09:57:59|
|           34696|     09:38:16|
|           34648|     09:37:28|
|           34129|     09:28:49|
|           34098|     09:28:18|
|           33848|     09:24:08|
|           33817|     09:23:37|
|           33757|     09:22:37|
+----------------+-------------+
only showing top 20 rows

In [62]:
from pyspark.sql import functions as F

In [69]:
df3.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [68]:
df3 \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

AnalysisException: Resolved attribute(s) pickup_datetime#84 missing from hvfhs_license_num#358,dispatching_base_num#359,pickup_datetime#360,dropoff_datetime#361,PULocationID#362,DOLocationID#363,SR_Flag#364 in operator !Project [hvfhs_license_num#358, dispatching_base_num#359, pickup_datetime#360, dropoff_datetime#361, PULocationID#362, DOLocationID#363, SR_Flag#364, to_date(pickup_datetime#84, None, Some(Etc/UTC)) AS pickup_date#440]. Attribute(s) with the same name appear in the operation: pickup_datetime. Please check if the right attribute(s) are used.;
!Project [hvfhs_license_num#358, dispatching_base_num#359, pickup_datetime#360, dropoff_datetime#361, PULocationID#362, DOLocationID#363, SR_Flag#364, to_date(pickup_datetime#84, None, Some(Etc/UTC)) AS pickup_date#440]
+- Relation [hvfhs_license_num#358,dispatching_base_num#359,pickup_datetime#360,dropoff_datetime#361,PULocationID#362,DOLocationID#363,SR_Flag#364] parquet

In [66]:
df3.withColumn('pickup_date', F.to_date(df.pickup_datetime)).withColumn('dropoff_date', F.to_date(df.dropoff_datetime)).show()
#    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
#    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \

AnalysisException: Resolved attribute(s) pickup_datetime#84 missing from hvfhs_license_num#358,dispatching_base_num#359,pickup_datetime#360,dropoff_datetime#361,PULocationID#362,DOLocationID#363,SR_Flag#364 in operator !Project [hvfhs_license_num#358, dispatching_base_num#359, pickup_datetime#360, dropoff_datetime#361, PULocationID#362, DOLocationID#363, SR_Flag#364, to_date(pickup_datetime#84, None, Some(Etc/UTC)) AS pickup_date#439]. Attribute(s) with the same name appear in the operation: pickup_datetime. Please check if the right attribute(s) are used.;
!Project [hvfhs_license_num#358, dispatching_base_num#359, pickup_datetime#360, dropoff_datetime#361, PULocationID#362, DOLocationID#363, SR_Flag#364, to_date(pickup_datetime#84, None, Some(Etc/UTC)) AS pickup_date#439]
+- Relation [hvfhs_license_num#358,dispatching_base_num#359,pickup_datetime#360,dropoff_datetime#361,PULocationID#362,DOLocationID#363,SR_Flag#364] parquet